<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DMS</title>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/carbon-components.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div class="wrapper">
        <div class="sidebar">
            <a href="#" class="sidebar-logo">LOGO</a>
            
            <ul class="sidebar-menu">
                <li><a href="#">Clients</a></li>
                <li><a href="/invoices">Invoices</a></li>
                <li><a href="#">Receipts</a></li>
            </ul>

            <div class="sidebar-user">
                <p><i class="far fa-user-circle"></i> John Doe</p>
            </div>
        </div>
        {{{ body }}}
    </div>
    
</body>
</html>