<div class="main-section">
    <div class="top-bar">
        <div class="top-bar--title">
            <h3>Invoice <span style="color:dimgrey">(#0001)</span> </h3>
        </div>
        <ul class="top-bar--nav">
            <li><a href="/invoices/add"><i class="fas fa-plus"></i> New Invoice</a></li>
            <li><a href="#" class="black">Sign out</a></li>
        </ul>
    </div>
    
    <div class="main-content">
        
        <div class="invoice-form">
            <br>
            <form action="/invoices/add" method="POST">
                <div class="invoice-form--address">
                    <div class="invoice-form--name">
                        <label for="name">Billing to</label>
                        <input type="text" name="customername" placeholder="John Doe"><br>
                        <label for="name">Address</label>
                        <input type="text" name="customeraddress" placeholder="John Doe">
                    </div>
                    <div class="invoice-form--date">
                        <label for="date">Date</label>
                        <input type="text" name="invoicedate" placeholder="12/28/2018"><br>
                        <label for="date">Invoice No</label>
                        <input type="text" name="invoiceno" placeholder="12/28/2018">
                    </div>
                </div>
                <div class="invoice-form--items">
                    <h4>EXPENSES</h4>
                    <div class="invoice-form--item">
                        <label for="date"></label>
                        <input type="text" name="invoiceitem" placeholder="Item one">
                        <label for="date"></label>
                        <input type="text" name="invoiceprice" placeholder="1500">
                        <label for="date"></label>
                        <input type="text" name="quantity" placeholder="1">
                        <label for="date"></label>
                        <input type="text" name="taxtotal" placeholder="1500">
                    </div>
                    <div class="invoice-form--item">
                        <label for="invoiceitem"></label>
                        <input type="text" name="invoiceitem" placeholder="Item one">
                        <label for="invoiceprice"></label>
                        <input type="text" name="invoiceprice" placeholder="1500">
                        <label for="quantity"></label>
                        <input type="text" name="quantity" placeholder="1">
                        <label for="taxtotal"></label>
                        <input type="text" name="taxtotal" placeholder="1500">
                    </div><br>
                    <a href="#"><i class="fas fa-plus"></i> Add Item</a>
                </div><br>
                <div class="invoice-form--summary">
                    <!-- <div class="invoice-form--option">
                        <h4>Subtotal</h4>
                        <h4>2000</h4>
                    </div> -->
                    <div class="invoice-form--option">
                        <h4>Taxes</h4>
                        <span><input type="text" name="invoicetax" placeholder="10%"></span>
                    </div>
                    <div class="invoice-form--option">
                        <h4>Total</h4>
                        <span><input type="text" name="invoicetotal" placeholder="2000"></span>
                    </div>
                </div> <br>
                <a href="#" class="button">Print PDF</a>
                <button class="button" type="submit">Save Invoice</button>
            </form>
        </div>
        <div class="invoice-options">
            <br>
            <div class="searchbar">
                
                <input type="search" placeholder="search">
            </div>
            <ul class="option--list">
                <h4>SERVICES</h4>
                <li><a href="#">Tooth Filling</a></li>
                <li><a href="#">Tooth Removal</a></li>
                <li><a href="#">Tooth Replacement</a></li>
            </ul>
        </div>
    </div>
</div>