 <div class="main-section">              
    <div class="top-bar">
        <div class="top-bar--title">
            <h3>Invoices</h3>
        </div>
        <ul class="top-bar--nav">
            <li><a href="/invoices/add"><i class="fas fa-plus"></i> New Invoice</a></li>
            <li><a href="#" class="black">Sign out</a></li>
        </ul>
    </div>

    <div class="main-content">
        <div class="data-section">
            <table class="bx--data-table bx--data-table--sort">
                <thead>
                    <tr>
                        <th class="bx--table-header-label">Invoice Number</th>
                        <th>Invoice Date</th>
                        <th>Invoice Total</th>
                        <th>PDF</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each invoice}}
                    <tr>
                        <td>{{invoiceno}} </td>
                        <td>{{invoicedate}}</td>
                        <td>{{invoicetotal}}</td>
                        <td>Export</td>
                        <td>
                            <a href="#" class="button">Edit</a>
                            <a href="#" class="button">Delete</a>
                        </td>
                    </tr>
                    {{else}}
                        <p>No invoices available</p>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div> 