/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.414rem;
}

h4 {
  font-size: 0.707rem;
}

h5 {
  font-size: 0.4713333333rem;
}

h6 {
  font-size: 0.3535rem;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td, table th {
  padding: 0;
  line-height: 33px;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}

/* Hug a the block above you */
.hug {
  margin-top: 0;
}

body {
  font-family: "Karla", sans-serif;
  color: #242424;
}

a {
  text-decoration: none;
}

.black {
  color: #242424;
}

.sidebar {
  width: 15%;
  position: fixed;
  height: 100vh;
  background-color: #faf9fb;
}
.sidebar .sidebar-logo {
  display: block;
  padding: 20px 20px;
  color: #242424;
}
.sidebar .sidebar-menu {
  display: block;
  padding: 20px 20px;
  color: #242424;
}
.sidebar .sidebar-menu li {
  margin: 30px 0;
}
.sidebar .sidebar-menu li a {
  font-size: 18px;
  color: #545454;
}
.sidebar .sidebar-user {
  position: absolute;
  display: flex;
  bottom: 0;
  padding: 20px 30px;
}

.main-section {
  margin-left: 240px;
  height: 100vh;
}
.main-section .top-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f4f7f7;
}
.main-section .top-bar .top-bar--title {
  padding: 0 40px;
}
.main-section .top-bar .top-bar--nav {
  display: flex;
  padding: 0 40px;
}
.main-section .top-bar .top-bar--nav li {
  margin-left: 20px;
}
.main-section .main-content {
  display: flex;
  width: 100%;
}
.main-section .main-content .invoice-form {
  padding: 0 40px;
  width: 70%;
}
.main-section .main-content .invoice-options {
  width: 30%;
  padding: 0 40px;
  border-left: 1px solid #f4f7f7;
  height: 88vh;
}
.main-section .main-content .invoice-options .searchbar {
  display: block;
  width: 100%;
}
.main-section .main-content .invoice-options .searchbar input {
  width: 100%;
}
.main-section .main-content .invoice-options .searchbar a {
  display: block;
}

.invoice-form--address, .option {
  display: flex;
  justify-content: space-between;
}

.invoice-form--item {
  display: flex;
  justify-content: space-around;
}

.invoice-form--item input {
  width: 100%;
}

.fas.fa-plus {
  font-size: 16px;
}

.invoice-form--option {
  display: flex;
  justify-content: space-between;
}

.invoice-form--option h4 {
  margin: 0;
}

.invoice-form--name label, .invoice-form--date label {
  display: block;
  font-size: 0.75rem;
  padding-bottom: 8px;
}
.invoice-form--name input, .invoice-form--date input {
  display: block;
}

.data-section {
  width: 100%;
  padding: 0 40px;
}

/*# sourceMappingURL=style.css.map */
